In [1]:
import pandas as pd
import time
import glob
import duckdb
import polars as pl

## Abriendo todos los json uno a uno

In [2]:
cur_time = time.time()
df1 = pd.read_json(r"C:\Users\ornal\Desktop\Proyecto\Source Data\metadata-sitios\1.json",lines=True)
time_pandas = round((time.time() - cur_time),2)
print(f"df1 demoro {round(time_pandas/60,2)} minutos")

df1 demoro 0.23 minutos

In [ ]:
df1[df1['state']=='Permanently closed'].head()

In [3]:
cur_time = time.time()
df2 = pd.read_json(r"C:\Users\ornal\Desktop\Proyecto\Source Data\metadata-sitios\2.json",lines=True)
time_pandas2 = round((time.time() - cur_time),2)

In [4]:
cur_time = time.time()
df3 = pd.read_json(r"C:\Users\ornal\Desktop\Proyecto\Source Data\metadata-sitios\3.json",lines=True)
time_pandas3 = round((time.time() - cur_time),2)

In [5]:
cur_time = time.time()
df4 = pd.read_json(r"C:\Users\ornal\Desktop\Proyecto\Source Data\metadata-sitios\4.json",lines=True)
time_pandas4 = round((time.time() - cur_time),2)

In [6]:
cur_time = time.time()
df5 = pd.read_json(r"C:\Users\ornal\Desktop\Proyecto\Source Data\metadata-sitios\5.json",lines=True)
time_pandas5 = round((time.time() - cur_time),2)

In [7]:
cur_time = time.time()
df6 = pd.read_json(r"C:\Users\ornal\Desktop\Proyecto\Source Data\metadata-sitios\6.json",lines=True)
time_pandas6 = round((time.time() - cur_time),2)

In [8]:
cur_time = time.time()
df7 = pd.read_json(r"C:\Users\ornal\Desktop\Proyecto\Source Data\metadata-sitios\7.json",lines=True)
time_pandas7 = round((time.time() - cur_time),2)

In [9]:
cur_time = time.time()
df8 = pd.read_json(r"C:\Users\ornal\Desktop\Proyecto\Source Data\metadata-sitios\8.json",lines=True)
time_pandas8 = round((time.time() - cur_time),2)

In [10]:
cur_time = time.time()
df9 = pd.read_json(r"C:\Users\ornal\Desktop\Proyecto\Source Data\metadata-sitios\9.json",lines=True)
time_pandas9 = round((time.time() - cur_time),2)

In [11]:
cur_time = time.time()
df10 = pd.read_json(r"C:\Users\ornal\Desktop\Proyecto\Source Data\metadata-sitios\10.json",lines=True)
time_pandas10 = round((time.time() - cur_time),2)

In [12]:
cur_time = time.time()
df11 = pd.read_json(r"C:\Users\ornal\Desktop\Proyecto\Source Data\metadata-sitios\11.json",lines=True)
time_pandas11 = round((time.time() - cur_time),2)

error uploading: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001C5575B9420>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

In [13]:
df1.columns

Index(['name', 'address', 'gmap_id', 'description', 'latitude', 'longitude',
       'category', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC',
       'state', 'relative_results', 'url'],
      dtype='object')

In [4]:
df1['hours'] = df1['hours'].str.replace('\n', ' ')
df1['MISC'] = df1['MISC'].str.replace('\n', ' ')

In [15]:
df2['hours'] = df2['hours'].str.replace('\n', ' ')
df2['MISC'] = df2['MISC'].str.replace('\n', ' ')

In [16]:
df3['hours'] = df3['hours'].str.replace('\n', ' ')
df3['MISC'] = df3['MISC'].str.replace('\n', ' ')

In [17]:
df4['hours'] = df4['hours'].str.replace('\n', ' ')
df4['MISC'] = df4['MISC'].str.replace('\n', ' ')

In [18]:
df5['hours'] = df5['hours'].str.replace('\n', ' ')
df5['MISC'] = df5['MISC'].str.replace('\n', ' ')

In [19]:
df6['hours'] = df6['hours'].str.replace('\n', ' ')
df6['MISC'] = df6['MISC'].str.replace('\n', ' ')

In [20]:
df7['hours'] = df7['hours'].str.replace('\n', ' ')
df7['MISC'] = df7['MISC'].str.replace('\n', ' ')

In [21]:
df8['hours'] = df8['hours'].str.replace('\n', ' ')
df8['MISC'] = df8['MISC'].str.replace('\n', ' ')

In [22]:
df9['hours'] = df9['hours'].str.replace('\n', ' ')
df9['MISC'] = df9['MISC'].str.replace('\n', ' ')

In [23]:
df10['hours'] = df10['hours'].str.replace('\n', ' ')
df10['MISC'] = df10['MISC'].str.replace('\n', ' ')

In [24]:
df11['hours'] = df11['hours'].str.replace('\n', ' ')
df11['MISC'] = df11['MISC'].str.replace('\n', ' ')

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275001 entries, 0 to 275000
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              274994 non-null  object
 1   address           264939 non-null  object
 2   gmap_id           275001 non-null  object
 3   description       13155 non-null   object
 4   latitude          275001 non-null  float64
 5   longitude         275001 non-null  float64
 6   category          272740 non-null  object
 7   avg_rating        275001 non-null  float64
 8   num_of_reviews    275001 non-null  int64
 9   price             13450 non-null   object
 10  hours             0 non-null       float64
 11  MISC              0 non-null       float64
 12  state             195523 non-null  object
 13  relative_results  238771 non-null  object
 14  url               275001 non-null  object
dtypes: float64(5), int64(1), object(9)
memory usage: 31.5+ MB

In [6]:
df1['latitude'] = df1['latitude'].astype('float32')
df1['longitude'] = df1['longitude'].astype('float32')
df1['avg_rating'] = df1['avg_rating'].astype('int8')
df1['num_of_reviews'] = df1['num_of_reviews'].astype('int16')

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275001 entries, 0 to 275000
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              274994 non-null  object
 1   address           264939 non-null  object
 2   gmap_id           275001 non-null  object
 3   description       13155 non-null   object
 4   latitude          275001 non-null  float32
 5   longitude         275001 non-null  float32
 6   category          272740 non-null  object
 7   avg_rating        275001 non-null  int8
 8   num_of_reviews    275001 non-null  int16
 9   price             13450 non-null   object
 10  hours             0 non-null       float64
 11  MISC              0 non-null       float64
 12  state             195523 non-null  object
 13  relative_results  238771 non-null  object
 14  url               275001 non-null  object
dtypes: float32(2), float64(2), int16(1), int8(1), object(9)
memory usage: 26.0+ MB

In [48]:
df2['latitude'] = df2['latitude'].astype('float32')
df2['longitude'] = df2['longitude'].astype('float32')
df2['avg_rating'] = df2['avg_rating'].astype('int8')
df2['num_of_reviews'] = df2['num_of_reviews'].astype('int16')

In [49]:
df3['latitude'] = df3['latitude'].astype('float32')
df3['longitude'] = df3['longitude'].astype('float32')
df3['avg_rating'] = df3['avg_rating'].astype('int8')
df3['num_of_reviews'] = df3['num_of_reviews'].astype('int16')

In [50]:
df4['latitude'] = df4['latitude'].astype('float32')
df4['longitude'] = df4['longitude'].astype('float32')
df4['avg_rating'] = df4['avg_rating'].astype('int8')
df4['num_of_reviews'] = df4['num_of_reviews'].astype('int16')

In [51]:
df5['latitude'] = df5['latitude'].astype('float32')
df5['longitude'] = df5['longitude'].astype('float32')
df5['avg_rating'] = df5['avg_rating'].astype('int8')
df5['num_of_reviews'] = df5['num_of_reviews'].astype('int16')

In [52]:
df6['latitude'] = df6['latitude'].astype('float32')
df6['longitude'] = df6['longitude'].astype('float32')
df6['avg_rating'] = df6['avg_rating'].astype('int8')
df6['num_of_reviews'] = df6['num_of_reviews'].astype('int16')

In [53]:
df7['latitude'] = df7['latitude'].astype('float32')
df7['longitude'] = df7['longitude'].astype('float32')
df7['avg_rating'] = df7['avg_rating'].astype('int8')
df7['num_of_reviews'] = df7['num_of_reviews'].astype('int16')

In [54]:
df8['latitude'] = df8['latitude'].astype('float32')
df8['longitude'] = df8['longitude'].astype('float32')
df8['avg_rating'] = df8['avg_rating'].astype('int8')
df8['num_of_reviews'] = df8['num_of_reviews'].astype('int16')

In [55]:
df9['latitude'] = df9['latitude'].astype('float32')
df9['longitude'] = df9['longitude'].astype('float32')
df9['avg_rating'] = df9['avg_rating'].astype('int8')
df9['num_of_reviews'] = df9['num_of_reviews'].astype('int16')

In [56]:
df10['latitude'] = df10['latitude'].astype('float32')
df10['longitude'] = df10['longitude'].astype('float32')
df10['avg_rating'] = df10['avg_rating'].astype('int8')
df10['num_of_reviews'] = df10['num_of_reviews'].astype('int16')

In [57]:
df11['latitude'] = df11['latitude'].astype('float32')
df11['longitude'] = df11['longitude'].astype('float32')
df11['avg_rating'] = df11['avg_rating'].astype('int8')
df11['num_of_reviews'] = df11['num_of_reviews'].astype('int16')

In [73]:
df1.to_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\1.parquet')

In [74]:
df2.to_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\2.parquet')

In [75]:
df3.to_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\3.parquet')

In [76]:
df4.to_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\4.parquet')

In [77]:
df5.to_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\5.parquet')

In [78]:
df6.to_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\6.parquet')

In [79]:
df7.to_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\7.parquet')

In [80]:
df8.to_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\8.parquet')

In [81]:
df9.to_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\9.parquet')

In [82]:
df10.to_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\10.parquet')

In [83]:
df11.to_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\11.parquet')

## Leer con polars

In [2]:
#lazy
cur_time = time.time()
pl_df = (pl.scan_parquet('parquet/source/*.parquet').collect())
time_polars = round((time.time() - cur_time),2)
print(f"tiempo de lectura de todos los parquet usando polars en modo lazy = {time_polars} segundos")

tiempo de lectura de todos los parquet usando polars en modo lazy = 3.69 segundos

In [110]:
dicc = {
    'tiempo':[time_pandas,time_pandas2,time_pandas3,time_pandas4,time_pandas5,time_pandas6,time_pandas7,time_pandas8,time_pandas9,time_pandas10,time_pandas11]
}
df_tiempo_pandas = pd.DataFrame(dicc,index=['time_pandas1','time_pandas2','time_pandas3','time_pandas4','time_pandas5',
                                              'time_pandas6','time_pandas7','time_pandas8','time_pandas9','time_pandas10','time_pandas11'])
print(f'Tiempo de lectura de los json en pandas = {round(df_tiempo_pandas.tiempo.sum()/60,2)} minutos')

Tiempo de lectura de los json en pandas = 38.65 minutos

In [3]:
pl_df.shape

(3025011, 15)

## Para salvar en formato csv tengo que convertir los tipos [] en strings

In [4]:
cur_time = time.time()
pl_df = (pl_df.lazy()
.with_columns([
    pl.col('category').apply(lambda x: ','.join(x)),
    pl.col('relative_results').apply(lambda x: ','.join(x)) 
]).collect()
)
print(f'Tiempo = {round((time.time() - cur_time),2)} segundos')

Tiempo = 106.21 segundos

In [5]:
pl_df.head()

shape: (5, 15)
┌───────────────┬───────────────┬──────────────┬─────────────┬─────┬──────┬──────────────┬──────────────┬──────────────┐
│ name          ┆ address       ┆ gmap_id      ┆ description ┆ ... ┆ MISC ┆ state        ┆ relative_res ┆ url          │
│ ---           ┆ ---           ┆ ---          ┆ ---         ┆     ┆ ---  ┆ ---          ┆ ults         ┆ ---          │
│ str           ┆ str           ┆ str          ┆ str         ┆     ┆ f64  ┆ str          ┆ ---          ┆ str          │
│               ┆               ┆              ┆             ┆     ┆      ┆              ┆ str          ┆              │
╞═══════════════╪═══════════════╪══════════════╪═════════════╪═════╪══════╪══════════════╪══════════════╪══════════════╡
│ Porter        ┆ Porter        ┆ 0x88f16e4192 ┆ null        ┆ ... ┆ null ┆ Open ⋅       ┆ 0x88f16e4192 ┆ https://www. │
│ Pharmacy      ┆ Pharmacy, 129 ┆ 8ff687:0x883 ┆             ┆     ┆      ┆ Closes 6PM   ┆ 9435cf:0x5b2 ┆ google.com/m │
│               ┆ N Second      ┆ dad4fd04...  ┆             ┆     ┆      ┆              ┆ 532a2885...  ┆ aps/plac...  │
│               ┆ St...         ┆              ┆             ┆     ┆      ┆              ┆              ┆              │
│ City Textile  ┆ City Textile, ┆ 0x80c2c98c0e ┆ null        ┆ ... ┆ null ┆ Open now     ┆ 0x80c2c62413 ┆ https://www. │
│               ┆ 3001 E Pico   ┆ 3c16fd:0x29e ┆             ┆     ┆      ┆              ┆ 6ea88b:0xb03 ┆ google.com/m │
│               ┆ Blvd, ...     ┆ c8a72876...  ┆             ┆     ┆      ┆              ┆ 15367ed4...  ┆ aps/plac...  │
│ San Soo Dang  ┆ San Soo Dang, ┆ 0x80c2c778e3 ┆ null        ┆ ... ┆ null ┆ Open ⋅       ┆ 0x80c2c78249 ┆ https://www. │
│               ┆ 761 S Vermont ┆ b73d33:0xbdc ┆             ┆     ┆      ┆ Closes 6PM   ┆ aba68f:0x35b ┆ google.com/m │
│               ┆ Ave,...       ┆ 58662a4a...  ┆             ┆     ┆      ┆              ┆ f16ce61b...  ┆ aps/plac...  │
│ Nova Fabrics  ┆ Nova Fabrics, ┆ 0x80c2c89923 ┆ null        ┆ ... ┆ null ┆ Open ⋅       ┆ 0x80c2c88114 ┆ https://www. │
│               ┆ 2200 E 11th   ┆ b27a41:0x320 ┆             ┆     ┆      ┆ Closes 5PM   ┆ 77253f:0x23a ┆ google.com/m │
│               ┆ St, Lo...     ┆ 41559418...  ┆             ┆     ┆      ┆              ┆ 8a492df1...  ┆ aps/plac...  │
│ Nobel Textile ┆ Nobel Textile ┆ 0x80c2c632f9 ┆ null        ┆ ... ┆ null ┆ Open ⋅       ┆ 0x80c2c62c49 ┆ https://www. │
│ Co            ┆ Co, 719 E 9th ┆ 33b073:0xc31 ┆             ┆     ┆      ┆ Closes 5PM   ┆ 6083d1:0xdef ┆ google.com/m │
│               ┆ St, ...       ┆ 785961fe...  ┆             ┆     ┆      ┆              ┆ a11317fe...  ┆ aps/plac...  │
└───────────────┴───────────────┴──────────────┴─────────────┴─────┴──────┴──────────────┴──────────────┴──────────────┘

In [7]:
pl_df.write_parquet('parquet/sitios1.parquet')
pl_df.write_csv('csv/sitios1.csv')

error uploading: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x00000264D3C0EF50>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

In [6]:
pd_df = pl_df.to_pandas()