In [28]:
import pandas as pd
import time
import polars as pl
import numpy as np

## Abriendo con polars

In [29]:
cur_time = time.time()
pl_df = pl.read_parquet("parquet/sitios1.parquet")
print(f"Tiempo en leer usando polars = {round((time.time()-cur_time),2)} segundos")
pl_df.shape

Tiempo en leer usando polars = 4.05 segundos

(3025011, 15)

## Elimino duplicados en name

In [30]:
pl_df = pl_df.filter(pl_df.select(pl.col('name')).is_duplicated())
pl_df.shape

(870913, 15)

## Aqui empiezo la limpieza

## Establecimientos Gastronomicos de la Florida

In [31]:
def busca_zip(x):
    if x.strip()[len(x)-15:].upper() == ',UNITED STATES':
        x = x.strip()[:len(x)-15]
    return x.strip()[len(x)-5:]  

def busca_state(x):
    if x.strip()[len(x)-15:].upper() == ',UNITED STATES':
        x = x.strip()[:len(x)-15]
    x = x.strip()[:len(x)-6]
    return x.strip()[len(x)-2:] 

def busca_street(x):
    try:
        x1 = x[x.index(',')+2:]
        return x1[:x1.index(',')]+' FL USA'
    except:
        return x

In [35]:
cur_time = time.time()
pl_df1 = (
    pl_df.lazy()
    # Solo restaurant, bakery, desserts, pastry 
    .filter(pl.col('category').apply(lambda x: True if ('RESTAURANT' in ''.join(x).upper() or
                                                        'BAKERY' in ''.join(x).upper() or
                                                        'DESSERTS' in ''.join(x).upper() or
                                                        'PASTRY' in ''.join(x).upper() 
                                                       ) else False))
    # Creo columnas nuevas para ML
    .with_columns(pl.col('category').apply(lambda x: ''.join(x)))
    .with_columns(pl.col('category').apply(lambda x: 1 if 'RESTAURANT' in ''.join(x).upper() else 0).alias('restaurant'))
    .with_columns(pl.col('category').apply(lambda x: 1 if 'BAKERY' in ''.join(x).upper() else 0).alias('bakery'))
    .with_columns(pl.col('category').apply(lambda x: 1 if 'DESSERTS' in ''.join(x).upper() else 0).alias('dessert'))
    .with_columns(pl.col('category').apply(lambda x: 1 if 'PASTRY' in ''.join(x).upper() else 0).alias('pastry')) 
    .with_columns(pl.col('state').apply(lambda x: 1 if 'PERMANENTLY CLOSED' in x.upper() else 0).alias('closed')) 
    .with_columns(pl.col('address').apply(busca_street).alias('street'))
    # Solo los del estado de la Florida
    .with_columns([
        pl.col('address').apply(busca_zip).alias('zip'),
        pl.col('address').apply(busca_state).alias('st'),
        pl.col('address').apply(lambda x: x.split(',')[len(x.split(','))-2].strip().upper()).alias('City')    
    ])
    # Creo una columna que sea una copia de state para trabajarla y sacarle los horarios
    .with_columns(pl.col('state').alias('horario'))
    .filter(pl.col('st')=='FL')
    # Eliminacion de columnas:        
    #.select(pl.exclude(['gmap_id','description','price','hours','MISC','relative_results','state']))  
    .collect()
)    
print(f"{pl_df1.shape[0]} records que quedan, tiempo usado = {round((time.time()-cur_time),2)} segundos")

4127 records que quedan, tiempo usado = 4.21 segundos

### Verifique varios casos de valores NaN en la columna closed y todos estaban 'Permanently closed'
### asi que todos los valores NaN de la columna closed los pongo en 1

In [36]:
pl_df2 = pl_df1.with_columns(pl.col('closed')).fill_null(1)

In [38]:
pl_df2.head(2)

shape: (2, 25)
┌──────────────────┬─────────────────┬─────────────────┬─────────────┬─────┬───────┬─────┬───────────────┬─────────────┐
│ name             ┆ address         ┆ gmap_id         ┆ description ┆ ... ┆ zip   ┆ st  ┆ City          ┆ horario     │
│ ---              ┆ ---             ┆ ---             ┆ ---         ┆     ┆ ---   ┆ --- ┆ ---           ┆ ---         │
│ str              ┆ str             ┆ str             ┆ str         ┆     ┆ str   ┆ str ┆ str           ┆ str         │
╞══════════════════╪═════════════════╪═════════════════╪═════════════╪═════╪═══════╪═════╪═══════════════╪═════════════╡
│ Cape Seafood     ┆ Cape Seafood    ┆ 0x88db4147b1d9e ┆ null        ┆ ... ┆ 33990 ┆ FL  ┆ CAPE CORAL    ┆ null        │
│ Shack            ┆ Shack, 603 Del  ┆ 6f3:0x943dbd10a ┆             ┆     ┆       ┆     ┆               ┆             │
│                  ┆ Prad...         ┆ 92...           ┆             ┆     ┆       ┆     ┆               ┆             │
│ Fresh Point      ┆ Fresh Point     ┆ 0x88c2e4e34f1ed ┆ null        ┆ ... ┆ 33782 ┆ FL  ┆ PINELLAS PARK ┆ Permanently │
│ Country Buffet   ┆ Country Buffet, ┆ 783:0x76c5da381 ┆             ┆     ┆       ┆     ┆               ┆ closed      │
│                  ┆ 1052...         ┆ c4...           ┆             ┆     ┆       ┆     ┆               ┆             │
└──────────────────┴─────────────────┴─────────────────┴─────────────┴─────┴───────┴─────┴───────────────┴─────────────┘

### Hago cast a la columna zip a Int64

In [39]:
pl_df2 = pl_df2.with_columns(pl.col("zip").cast(pl.Int64))

### Creo las columnas open y close que van a tener los horarios de apertura y cierre, 
### la informacion sale de la columna state

In [40]:
def busca_close(x):
    if x == 'Permanently closed': return x
    if x[:13] == 'Open ⋅ Closes': return x[14:]
    if x[:8] == 'Closed ⋅': return None
    if x == 'Open 24 hours': return x
    if x[:12] == 'Opens soon ⋅': return None
    if x[:14] == 'Closes soon ⋅ ': return x[14:][:7]
    if x == 'Open now': return None
    if x == 'Temporarily closed': return x
    if x == 'Closed': return x
    return 'nada'

In [41]:
def busca_open(x):
    if x == 'Permanently closed': return x

    if x[:13] == 'Closes soon ⋅':
        try:
            return texto[14:][6:][texto[14:][6:].index('Opens')+6:]
        except:
            try:
                return texto[14:][6:][texto[14:][6:].index('Reopens')+8:]
            except:
                return None
    if x[:12] == 'Opens soon ⋅': return x[13:]
    if x[:8] == 'Open now': return None
    if x[:6] == 'Open ⋅': return None
    if x[:14] == 'Closed ⋅ Opens': return x[15:] 
    if x == 'Open 24 hours': return x 
    if x == 'Temporarily closed': return x
    if x == 'Closed': return x 
    return 'nada'

In [42]:
def rectifico_close(x):
    if x[:5] == '1AM ⋅': return '1AM'
    if x[:5] == '2AM ⋅': return '2AM'
    if x[:5] == '2PM ⋅': return '2PM'
    if x[:5] == '3PM ⋅': return '3PM'
    if x[:5] == '4PM ⋅': return '4PM'
    if x[:5] == '5PM ⋅': return '5PM'
    if x[:5] == '6PM ⋅': return '6PM'
    if x[:5] == '7PM ⋅': return '7PM'
    if x[:5] == '8PM ⋅': return '8PM'
    if x[:5] == '8AM ⋅': return '8AM'
    if x[:5] == '9PM ⋅': return '9PM'
    if x[:6] == '10PM ⋅': return '10PM'
    if x[:6] == '11AM ⋅': return '11AM'
    if x[:6] == '11PM ⋅': return '11PM'
    if x[:6] == '12AM ⋅': return '12AM'
    return x

In [43]:
pl_df3 = pl_df2.with_columns([
    pl.col('state').apply(busca_open).alias('open'),
    pl.col('state').apply(busca_close).alias('close')
])
pl_df3 = pl_df3.with_columns([
   pl.col('close').apply(rectifico_close)
])
pd_df3 = pl_df3.to_pandas()
pl_df3.shape

(4127, 27)

In [44]:
pl_df3.head(2)

shape: (2, 27)
┌──────────────┬─────────────┬─────────────┬─────────────┬─────┬─────────────┬─────────────┬─────────────┬─────────────┐
│ name         ┆ address     ┆ gmap_id     ┆ description ┆ ... ┆ City        ┆ horario     ┆ open        ┆ close       │
│ ---          ┆ ---         ┆ ---         ┆ ---         ┆     ┆ ---         ┆ ---         ┆ ---         ┆ ---         │
│ str          ┆ str         ┆ str         ┆ str         ┆     ┆ str         ┆ str         ┆ str         ┆ str         │
╞══════════════╪═════════════╪═════════════╪═════════════╪═════╪═════════════╪═════════════╪═════════════╪═════════════╡
│ Cape Seafood ┆ Cape        ┆ 0x88db4147b ┆ null        ┆ ... ┆ CAPE CORAL  ┆ null        ┆ null        ┆ null        │
│ Shack        ┆ Seafood     ┆ 1d9e6f3:0x9 ┆             ┆     ┆             ┆             ┆             ┆             │
│              ┆ Shack, 603  ┆ 43dbd10a92. ┆             ┆     ┆             ┆             ┆             ┆             │
│              ┆ Del Prad... ┆ ..          ┆             ┆     ┆             ┆             ┆             ┆             │
│ Fresh Point  ┆ Fresh Point ┆ 0x88c2e4e34 ┆ null        ┆ ... ┆ PINELLAS    ┆ Permanently ┆ Permanently ┆ Permanently │
│ Country      ┆ Country     ┆ f1ed783:0x7 ┆             ┆     ┆ PARK        ┆ closed      ┆ closed      ┆ closed      │
│ Buffet       ┆ Buffet,     ┆ 6c5da381c4. ┆             ┆     ┆             ┆             ┆             ┆             │
│              ┆ 1052...     ┆ ..          ┆             ┆     ┆             ┆             ┆             ┆             │
└──────────────┴─────────────┴─────────────┴─────────────┴─────┴─────────────┴─────────────┴─────────────┴─────────────┘

## Agrego columnas de county y city que pueden servir al grupo de Analitics y el de Machine Learning

In [46]:
pl_zip = pl.read_csv('csv/zip_florida.csv')
pl_zip.shape

(994, 6)

In [47]:
pl_zip .head(2)

shape: (2, 6)
┌───────┬─────────────────┬───────────┬───────┬─────────────┬────────────┐
│ zip   ┆ Zipcode name    ┆ City      ┆ State ┆ County Name ┆ population │
│ ---   ┆ ---             ┆ ---       ┆ ---   ┆ ---         ┆ ---        │
│ i64   ┆ str             ┆ str       ┆ str   ┆ str         ┆ i64        │
╞═══════╪═════════════════╪═══════════╪═══════╪═════════════╪════════════╡
│ 32024 ┆ "LAKE CITY. FL" ┆ LAKE CITY ┆ FL    ┆ COLUMBIA    ┆ 12329      │
│ 32025 ┆ "LAKE CITY. FL" ┆ LAKE CITY ┆ FL    ┆ COLUMBIA    ┆ 12329      │
└───────┴─────────────────┴───────────┴───────┴─────────────┴────────────┘

In [48]:
pl_df3 = pl_df3.join(pl_zip.select(['zip','County Name']), on='zip', how="left" )
pl_df3.shape

(4127, 28)

In [50]:
pl_df3.head(2)

shape: (2, 28)
┌──────────────┬─────────────┬─────────────┬─────────────┬─────┬─────────────┬─────────────┬─────────────┬─────────────┐
│ name         ┆ address     ┆ gmap_id     ┆ description ┆ ... ┆ horario     ┆ open        ┆ close       ┆ County Name │
│ ---          ┆ ---         ┆ ---         ┆ ---         ┆     ┆ ---         ┆ ---         ┆ ---         ┆ ---         │
│ str          ┆ str         ┆ str         ┆ str         ┆     ┆ str         ┆ str         ┆ str         ┆ str         │
╞══════════════╪═════════════╪═════════════╪═════════════╪═════╪═════════════╪═════════════╪═════════════╪═════════════╡
│ Cape Seafood ┆ Cape        ┆ 0x88db4147b ┆ null        ┆ ... ┆ null        ┆ null        ┆ null        ┆ LEE         │
│ Shack        ┆ Seafood     ┆ 1d9e6f3:0x9 ┆             ┆     ┆             ┆             ┆             ┆             │
│              ┆ Shack, 603  ┆ 43dbd10a92. ┆             ┆     ┆             ┆             ┆             ┆             │
│              ┆ Del Prad... ┆ ..          ┆             ┆     ┆             ┆             ┆             ┆             │
│ Fresh Point  ┆ Fresh Point ┆ 0x88c2e4e34 ┆ null        ┆ ... ┆ Permanently ┆ Permanently ┆ Permanently ┆ PINELLAS    │
│ Country      ┆ Country     ┆ f1ed783:0x7 ┆             ┆     ┆ closed      ┆ closed      ┆ closed      ┆             │
│ Buffet       ┆ Buffet,     ┆ 6c5da381c4. ┆             ┆     ┆             ┆             ┆             ┆             │
│              ┆ 1052...     ┆ ..          ┆             ┆     ┆             ┆             ┆             ┆             │
└──────────────┴─────────────┴─────────────┴─────────────┴─────┴─────────────┴─────────────┴─────────────┴─────────────┘

## Agrego avg_rating, num_of_reviews de review_Fl

In [69]:
pl_review = pl.read_csv('csv/review_FL.csv')
pl_review.shape

(248691, 6)

In [80]:
pl_review = pl_review.filter((pl.col('rating')>= 1.0) & (pl.col('rating') <= 5.0))

## Agrego a pl_review los campost rating1, rating2, rating3, rating4, rating5

In [81]:
pl_review = pl_review.with_columns([
    pl.col('rating').apply(lambda x: 1 if x == 1 else 0).alias('rating1'),
    pl.col('rating').apply(lambda x: 1 if x == 2 else 0).alias('rating2'),
    pl.col('rating').apply(lambda x: 1 if x == 3 else 0).alias('rating3'),
    pl.col('rating').apply(lambda x: 1 if x == 4 else 0).alias('rating4'),
    pl.col('rating').apply(lambda x: 1 if x == 5 else 0).alias('rating5')
])

In [82]:
pl_review.head()

shape: (5, 11)
┌───────────────────┬─────────────────┬────────┬─────────────────────────┬─────┬─────────┬─────────┬─────────┬─────────┐
│ name              ┆ name_right      ┆ rating ┆ text                    ┆ ... ┆ rating2 ┆ rating3 ┆ rating4 ┆ rating5 │
│ ---               ┆ ---             ┆ ---    ┆ ---                     ┆     ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str               ┆ str             ┆ f64    ┆ str                     ┆     ┆ i64     ┆ i64     ┆ i64     ┆ i64     │
╞═══════════════════╪═════════════════╪════════╪═════════════════════════╪═════╪═════════╪═════════╪═════════╪═════════╡
│ 33 Below Icecream ┆ Veronica Franco ┆ 5.0    ┆ Went for the Stranger   ┆ ... ┆ 0       ┆ 0       ┆ 0       ┆ 1       │
│                   ┆                 ┆        ┆ Things ice...           ┆     ┆         ┆         ┆         ┆         │
│ 33 Below Icecream ┆ Sonia Bauer     ┆ 5.0    ┆ Delicious!!!!!!!! Best  ┆ ... ┆ 0       ┆ 0       ┆ 0       ┆ 1       │
│                   ┆                 ┆        ┆ ice cream...            ┆     ┆         ┆         ┆         ┆         │
│ 33 Below Icecream ┆ Marc V Nation   ┆ 4.0    ┆ null                    ┆ ... ┆ 0       ┆ 0       ┆ 1       ┆ 0       │
│ 33 Below Icecream ┆ Jill Reinhart   ┆ 5.0    ┆ Customer service is     ┆ ... ┆ 0       ┆ 0       ┆ 0       ┆ 1       │
│                   ┆                 ┆        ┆ excellent               ┆     ┆         ┆         ┆         ┆         │
│ 33 Below Icecream ┆ Carvalee B      ┆ 3.0    ┆ null                    ┆ ... ┆ 0       ┆ 1       ┆ 0       ┆ 0       │
└───────────────────┴─────────────────┴────────┴─────────────────────────┴─────┴─────────┴─────────┴─────────┴─────────┘

In [83]:
pl_review = (pl_review.groupby('name').agg([
    pl.col('rating').mean().alias('avg_rating'),
    pl.col('text').count().alias('num_of_reviews'),
    pl.col('rating1').sum(),
    pl.col('rating2').sum(),
    pl.col('rating3').sum(),
    pl.col('rating4').sum(),
    pl.col('rating5').sum()
]).with_columns(pl.col('avg_rating').apply(lambda x: round(x,2)))
)

In [84]:
pl_review.head()

shape: (5, 8)
┌──────────────────────────────┬────────────┬────────────────┬─────────┬─────────┬─────────┬─────────┬─────────┐
│ name                         ┆ avg_rating ┆ num_of_reviews ┆ rating1 ┆ rating2 ┆ rating3 ┆ rating4 ┆ rating5 │
│ ---                          ┆ ---        ┆ ---            ┆ ---     ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str                          ┆ f64        ┆ u32            ┆ i64     ┆ i64     ┆ i64     ┆ i64     ┆ i64     │
╞══════════════════════════════╪════════════╪════════════════╪═════════╪═════════╪═════════╪═════════╪═════════╡
│ Golden Krust                 ┆ 4.17       ┆ 206            ┆ 14      ┆ 6       ┆ 24      ┆ 50      ┆ 112     │
│ Golden Wok                   ┆ 4.08       ┆ 76             ┆ 5       ┆ 5       ┆ 11      ┆ 13      ┆ 42      │
│ Los Compadres                ┆ 4.39       ┆ 36             ┆ 0       ┆ 1       ┆ 4       ┆ 11      ┆ 20      │
│ Mi Tierra Mexican Restaurant ┆ 4.56       ┆ 1344           ┆ 30      ┆ 28      ┆ 74      ┆ 235     ┆ 975     │
│ Smoothie King                ┆ 4.28       ┆ 1829           ┆ 94      ┆ 70      ┆ 178     ┆ 376     ┆ 1107    │
└──────────────────────────────┴────────────┴────────────────┴─────────┴─────────┴─────────┴─────────┴─────────┘

### Hago el join entre sitios y pl_review para sustituir avg_rating y num_of_reviews que venian
### originalmente en sitios por los valores calculados a partir de la tabla reviews

In [85]:
#pl_df3.select(pl.exclude(['avg_rating','num_of_reviews'])).join(pl_review,on='name', how="left")
pl_df3 = pl_df3.join(pl_review,on='name', how="left").with_columns([
    pl.col('avg_rating').cast(pl.Float32),
    pl.col('avg_rating_right').cast(pl.Float32)
])
pl_df3.shape

(4127, 35)

## Le agrego latitude1 y longitude1 que estan en coordenadas_FL

In [75]:
pl_coordenadas = pl.read_csv('csv/coordenadas_FL.csv')
pl_coordenadas.shape

(4127, 3)

In [78]:
pl_coordenadas.head()

shape: (5, 3)
┌────────────────────────────┬───────────┬────────────┐
│ name                       ┆ latitude1 ┆ longitude1 │
│ ---                        ┆ ---       ┆ ---        │
│ str                        ┆ f64       ┆ f64        │
╞════════════════════════════╪═══════════╪════════════╡
│ Cape Seafood Shack         ┆ 26.640758 ┆ -81.940728 │
│ Fresh Point Country Buffet ┆ 27.867496 ┆ -82.703016 │
│ Oneyda's Bakery            ┆ 26.270501 ┆ -81.789587 │
│ Annie's Bake Shoppe        ┆ 25.717426 ┆ -80.361958 │
│ Hot Box                    ┆ 0.0       ┆ 0.0        │
└────────────────────────────┴───────────┴────────────┘

In [79]:
#pl_df3.join(pl_coordenadas,on='name', how="inner")
#pl_df3.shape

## Esto es lo que voy a salvar

In [86]:
pl_df3.head()

shape: (5, 35)
┌───────────────────┬───────────────────┬──────────────────┬─────────────┬─────┬─────────┬─────────┬─────────┬─────────┐
│ name              ┆ address           ┆ gmap_id          ┆ description ┆ ... ┆ rating2 ┆ rating3 ┆ rating4 ┆ rating5 │
│ ---               ┆ ---               ┆ ---              ┆ ---         ┆     ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str               ┆ str               ┆ str              ┆ str         ┆     ┆ i64     ┆ i64     ┆ i64     ┆ i64     │
╞═══════════════════╪═══════════════════╪══════════════════╪═════════════╪═════╪═════════╪═════════╪═════════╪═════════╡
│ Cape Seafood      ┆ Cape Seafood      ┆ 0x88db4147b1d9e6 ┆ null        ┆ ... ┆ null    ┆ null    ┆ null    ┆ null    │
│ Shack             ┆ Shack, 603 Del    ┆ f3:0x943dbd10a92 ┆             ┆     ┆         ┆         ┆         ┆         │
│                   ┆ Prad...           ┆ ...              ┆             ┆     ┆         ┆         ┆         ┆         │
│ Fresh Point       ┆ Fresh Point       ┆ 0x88c2e4e34f1ed7 ┆ null        ┆ ... ┆ 22      ┆ 85      ┆ 187     ┆ 489     │
│ Country Buffet    ┆ Country Buffet,   ┆ 83:0x76c5da381c4 ┆             ┆     ┆         ┆         ┆         ┆         │
│                   ┆ 1052...           ┆ ...              ┆             ┆     ┆         ┆         ┆         ┆         │
│ Oneyda's Bakery   ┆ Oneyda's Bakery,  ┆ 0x88dae191ee5059 ┆ null        ┆ ... ┆ null    ┆ null    ┆ null    ┆ null    │
│                   ┆ 600               ┆ 17:0x6ba3e25388d ┆             ┆     ┆         ┆         ┆         ┆         │
│                   ┆ Goodlette-F...    ┆ ...              ┆             ┆     ┆         ┆         ┆         ┆         │
│ Annie's Bake      ┆ Annie's Bake      ┆ 0x88d9c754413f6c ┆ null        ┆ ... ┆ 1       ┆ 3       ┆ 7       ┆ 33      │
│ Shoppe            ┆ Shoppe, 10331 SW  ┆ 9d:0x1f93eff5e0b ┆             ┆     ┆         ┆         ┆         ┆         │
│                   ┆ 54...             ┆ ...              ┆             ┆     ┆         ┆         ┆         ┆         │
│ Hot Box           ┆ Hot Box, 1-99     ┆ 0x8890b9241e7046 ┆ null        ┆ ... ┆ null    ┆ null    ┆ null    ┆ null    │
│                   ┆ Kinkaid St,       ┆ 67:0x3a1e565c17c ┆             ┆     ┆         ┆         ┆         ┆         │
│                   ┆ Pensac...         ┆ ...              ┆             ┆     ┆         ┆         ┆         ┆         │
└───────────────────┴───────────────────┴──────────────────┴─────────────┴─────┴─────────┴─────────┴─────────┴─────────┘

## Salvo Datos Establecimientos Gastronomicos de la Florida

In [87]:
cur_time = time.time()
pl_df3.write_parquet("parquet/sitios_FL.parquet")
pl_df3.write_csv("csv/sitios_FL.csv")
pl_df3.write_csv("PG_Google_Maps/Ornaldo/sitios_FL.csv")
print(f"tiempo usado = {round((time.time()-cur_time),2)} segundos")

tiempo usado = 0.1 segundos