In [24]:
import pandas as pd
import time
import polars as pl

In [25]:
# Imported Population Change.csv
import pandas as pd
Population_Change = pd.read_csv(r'C:\Users\ornal\Desktop\Proyecto\Source Data\Population Change.csv')

# Filtered Description
Population_Change = Population_Change[Population_Change['Description'] == 'Florida']

# Changed Net International Migration to dtype int
Population_Change['Net International Migration'] = Population_Change['Net International Migration'].fillna(0).astype('int')

# Deleted columns IBRC_Geo_ID
Population_Change.drop(['IBRC_Geo_ID'], axis=1, inplace=True)

# Deleted columns Statefips
Population_Change.drop(['Statefips'], axis=1, inplace=True)

# Deleted columns Countyfips
Population_Change.drop(['Countyfips'], axis=1, inplace=True)

# Deleted columns Description
Population_Change.drop(['Description'], axis=1, inplace=True)

# Deleted columns Residual
Population_Change.drop(['Residual'], axis=1, inplace=True)

# Renamed columns Int_Migration
Population_Change.rename(columns={'Net International Migration': 'Int_Migration'}, inplace=True)

# Renamed columns Local_Migration
Population_Change.rename(columns={'Net Domestic Migration': 'Local_Migration'}, inplace=True)

In [26]:
Population_Change

       Year   Births   Deaths  Int_Migration  Local_Migration
10494  1990    47494    32673          10417            55216
10495  1991   197279   133725          46942           161441
10496  1992   192708   139084          52015           101294
10497  1993   191930   143495          54541           104433
10498  1994   192564   147397          60011           141421
10499  1995   188845   150687          83104           100581
10500  1996   187843   153554          94015           115954
10501  1997   192231   152513          85717           128826
10502  1998   194970   157354          72884           112837
10503  1999   195784   159752          80463            86511
10504  1999  1781648  1370234         640109          1108514
10505  2000    48118    38625          26734            28761
10506  2001   205394   166242         103065           157736
10507  2002   205558   167712          96939           185584
10508  2003   208889   168122          80691           171133
10509  2004   215365   170129          89688           265420
10510  2005   221683   170039          91201           265932
10511  2006   231473   171127         100206           141448
10512  2007   241448   168625          87534            16707
10513  2008   235006   170896          87821           -18568
10514  2009   233310   175141          87381           -31179
10515  2010    50884    41760          22735            10293
10516  2011   213199   174492         102343            68566
10517  2012   214011   173760         100592           103739
10518  2013   212989   181594         105369           111638
10519  2014   218358   181037         114339           147435
10520  2015   221743   191082         134725           197683
10521  2016   226033   193681         157803           217181
10522  2017   222993   199773         161644           164243
10523  2018   223734   206543         132690           127568
10524  2019   220705   211071          88787           139330
10525  2020   219996   230396          78072           174645

## Agrego una columna con el saldo

In [29]:
pl_Population_Change = pl.from_pandas(Population_Change)
pl_Population_Change.shape

(32, 5)

### La columna Deaths la pongo en negativo

In [31]:
pl_Population_Change = pl_Population_Change.with_columns(pl.col('Deaths').apply(lambda x: x * -1))

### Agrego la columna Saldo con el Saldo final del movimiento migratorio del a√±o

In [39]:
pl_Population_Change = pl_Population_Change.select(
    [
        pl.col('*'),
        pl_Population_Change.select(pl.col(['Births','Deaths','Int_Migration','Local_Migration'])).sum(axis=1).alias('Saldo')
    ]
)

## Calculo el total del movimiento migratorio de los 20 a√±os

In [43]:
Saldo_Migratorio = pl_Population_Change.select(pl.exclude('Year')).sum()

## Salvo
### fuente: https://www.statsamerica.org

In [46]:
pl_Population_Change.write_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\Otros\\Population Change.parquet')
pl_Population_Change.write_csv(r'C:\Users\ornal\Desktop\Proyecto\csv\Florida Population Change.csv')
# Population_Change Totalizado
Saldo_Migratorio.write_parquet(r'C:\Users\ornal\Desktop\Proyecto\parquet\sitios\Otros\\Florida Saldo Migratorio.parquet')
Saldo_Migratorio.write_csv(r'C:\Users\ornal\Desktop\Proyecto\csv\Florida Saldo Migratorio.csv')